p{
    
    color: red;
    width: 500px;
    border: 1px solid black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    background-color:blue;
    color: yellowgreen;
}